{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/www/abramova.iomp.ru/mak",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1610430210210.168,
          "date": "2021-01-12T05:51:30.149Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1610430163946.3535,
          "date": "2021-01-12T05:51:30.519Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1610428993528.2285,
          "date": "2021-01-12T05:51:31.189Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1610430646612.3657,
          "date": "2021-01-12T05:51:31.640Z"
        },
        {
          "file": "fonts/Montserrat-Black.eot",
          "mtimeMs": 1543869063000,
          "date": "2021-01-12T05:51:33.163Z"
        },
        {
          "file": "fonts/Montserrat-Black.ttf",
          "mtimeMs": 1543869063000,
          "date": "2021-01-12T05:51:34.639Z"
        },
        {
          "file": "fonts/Montserrat-Black.woff",
          "mtimeMs": 1543869063000,
          "date": "2021-01-12T05:51:35.201Z"
        },
        {
          "file": "fonts/Montserrat-Black.woff2",
          "mtimeMs": 1543869065000,
          "date": "2021-01-12T05:51:35.714Z"
        },
        {
          "file": "fonts/Montserrat-Bold.eot",
          "mtimeMs": 1543869058000,
          "date": "2021-01-12T05:51:36.374Z"
        },
        {
          "file": "fonts/Montserrat-Bold.ttf",
          "mtimeMs": 1543869058000,
          "date": "2021-01-12T05:51:37.090Z"
        },
        {
          "file": "fonts/Montserrat-Bold.woff",
          "mtimeMs": 1543869059000,
          "date": "2021-01-12T05:51:37.652Z"
        },
        {
          "file": "fonts/Montserrat-Bold.woff2",
          "mtimeMs": 1543869060000,
          "date": "2021-01-12T05:51:38.215Z"
        },
        {
          "file": "fonts/Montserrat-ExtraBold.eot",
          "mtimeMs": 1543869075000,
          "date": "2021-01-12T05:51:38.750Z"
        },
        {
          "file": "fonts/Montserrat-ExtraBold.ttf",
          "mtimeMs": 1543869075000,
          "date": "2021-01-12T05:51:39.573Z"
        },
        {
          "file": "fonts/Montserrat-ExtraBold.woff",
          "mtimeMs": 1543869075000,
          "date": "2021-01-12T05:51:41.084Z"
        },
        {
          "file": "fonts/Montserrat-ExtraBold.woff2",
          "mtimeMs": 1543869077000,
          "date": "2021-01-12T05:51:42.516Z"
        },
        {
          "file": "fonts/Montserrat-ExtraLight.eot",
          "mtimeMs": 1543869048000,
          "date": "2021-01-12T05:51:43.140Z"
        },
        {
          "file": "fonts/Montserrat-ExtraLight.ttf",
          "mtimeMs": 1543869048000,
          "date": "2021-01-12T05:51:43.675Z"
        },
        {
          "file": "fonts/Montserrat-ExtraLight.woff",
          "mtimeMs": 1543869048000,
          "date": "2021-01-12T05:51:44.149Z"
        },
        {
          "file": "fonts/Montserrat-ExtraLight.woff2",
          "mtimeMs": 1543869050000,
          "date": "2021-01-12T05:51:44.611Z"
        },
        {
          "file": "fonts/Montserrat-Light.eot",
          "mtimeMs": 1543869061000,
          "date": "2021-01-12T05:51:45.137Z"
        },
        {
          "file": "fonts/Montserrat-Light.ttf",
          "mtimeMs": 1543869061000,
          "date": "2021-01-12T05:51:45.794Z"
        },
        {
          "file": "fonts/Montserrat-Light.woff",
          "mtimeMs": 1543869061000,
          "date": "2021-01-12T05:51:46.261Z"
        },
        {
          "file": "fonts/Montserrat-Light.woff2",
          "mtimeMs": 1543869063000,
          "date": "2021-01-12T05:51:46.730Z"
        },
        {
          "file": "fonts/Montserrat-Medium.eot",
          "mtimeMs": 1543869065000,
          "date": "2021-01-12T05:51:47.268Z"
        },
        {
          "file": "fonts/Montserrat-Medium.ttf",
          "mtimeMs": 1543869065000,
          "date": "2021-01-12T05:51:48.308Z"
        },
        {
          "file": "fonts/Montserrat-Medium.woff",
          "mtimeMs": 1543869065000,
          "date": "2021-01-12T05:51:49.732Z"
        },
        {
          "file": "fonts/Montserrat-Medium.woff2",
          "mtimeMs": 1543869067000,
          "date": "2021-01-12T05:51:51.575Z"
        },
        {
          "file": "fonts/Montserrat-Regular.eot",
          "mtimeMs": 1543869054000,
          "date": "2021-01-12T05:51:52.183Z"
        },
        {
          "file": "fonts/Montserrat-Regular.ttf",
          "mtimeMs": 1543869054000,
          "date": "2021-01-12T05:51:52.751Z"
        },
        {
          "file": "fonts/Montserrat-Regular.woff",
          "mtimeMs": 1543869054000,
          "date": "2021-01-12T05:51:53.237Z"
        },
        {
          "file": "fonts/Montserrat-Regular.woff2",
          "mtimeMs": 1543869056000,
          "date": "2021-01-12T05:51:53.740Z"
        },
        {
          "file": "fonts/Montserrat-SemiBold.eot",
          "mtimeMs": 1543869082000,
          "date": "2021-01-12T05:51:54.425Z"
        },
        {
          "file": "fonts/Montserrat-SemiBold.ttf",
          "mtimeMs": 1543869082000,
          "date": "2021-01-12T05:51:54.948Z"
        },
        {
          "file": "fonts/Montserrat-SemiBold.woff",
          "mtimeMs": 1543869082000,
          "date": "2021-01-12T05:51:55.378Z"
        },
        {
          "file": "fonts/Montserrat-SemiBold.woff2",
          "mtimeMs": 1543869084000,
          "date": "2021-01-12T05:51:56.832Z"
        },
        {
          "file": "fonts/Montserrat-Thin.eot",
          "mtimeMs": 1543869084000,
          "date": "2021-01-12T05:51:58.328Z"
        },
        {
          "file": "fonts/Montserrat-Thin.ttf",
          "mtimeMs": 1543869084000,
          "date": "2021-01-12T05:51:59.015Z"
        },
        {
          "file": "fonts/Montserrat-Thin.woff",
          "mtimeMs": 1543869084000,
          "date": "2021-01-12T05:51:59.545Z"
        },
        {
          "file": "fonts/Montserrat-Thin.woff2",
          "mtimeMs": 1543869086000,
          "date": "2021-01-12T05:52:00.033Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1610425925136.5962,
          "date": "2021-01-12T05:52:00.445Z"
        },
        {
          "file": "img/icons/about-1.png",
          "mtimeMs": 1610426260041.8262,
          "date": "2021-01-12T05:52:00.897Z"
        },
        {
          "file": "img/icons/about-2.png",
          "mtimeMs": 1610426270286.95,
          "date": "2021-01-12T05:52:01.313Z"
        },
        {
          "file": "img/icons/about-3.png",
          "mtimeMs": 1610426282195.9917,
          "date": "2021-01-12T05:52:01.727Z"
        },
        {
          "file": "img/icons/insta.png",
          "mtimeMs": 1610426715155.3352,
          "date": "2021-01-12T05:52:02.096Z"
        },
        {
          "file": "img/images/about-img.png",
          "mtimeMs": 1610426243258.9763,
          "date": "2021-01-12T05:52:02.692Z"
        },
        {
          "file": "img/images/can-img.png",
          "mtimeMs": 1610426416266.8264,
          "date": "2021-01-12T05:52:03.338Z"
        },
        {
          "file": "img/images/for-img.png",
          "mtimeMs": 1610426326852.8762,
          "date": "2021-01-12T05:52:06.284Z"
        },
        {
          "file": "img/images/janna.png",
          "mtimeMs": 1610426686263.6904,
          "date": "2021-01-12T05:52:06.922Z"
        },
        {
          "file": "img/images/main-img.png",
          "mtimeMs": 1610426005301.4514,
          "date": "2021-01-12T05:52:07.732Z"
        },
        {
          "file": "img/images/plan-img.png",
          "mtimeMs": 1610426370125.9285,
          "date": "2021-01-12T05:52:08.409Z"
        },
        {
          "file": "img/images/video-img-1.png",
          "mtimeMs": 1610426095377.4922,
          "date": "2021-01-12T05:52:08.944Z"
        },
        {
          "file": "img/images/video-img-2.png",
          "mtimeMs": 1610426040740.407,
          "date": "2021-01-12T05:52:09.392Z"
        },
        {
          "file": "img/images/video-img.png",
          "mtimeMs": 1610426069158.1985,
          "date": "2021-01-12T05:52:09.951Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1610430357423.5508,
          "date": "2021-01-12T05:52:10.415Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      }
    ]
  }
}
