#author
	padding 90px 0
.author-img
	position relative
	padding-top: 100%
	img
		display block
		position absolute
		width auto
		top -50px
		right -100px
.insta-link
	position absolute
	color: #393939;
	font-weight: 600
	text-decoration underline
	padding-left: 31px
	background-image url(../img/icons/insta.png)
	background-repeat no-repeat
	background-position: left center
	bottom: -210px
	left 0
	&:active
		color #393939
		text-decoration underline
	&:hover
		color #393939
.author-title
	margin-bottom: 40px
	font-size: 30px
	font-weight: 500
	color: #3D36DB;
	small
		display block
		font-size: 18px
		font-weight: bold
		color: #393939;