#revs
	.container
		position relative
.video-wrapper-revs
	transform: scale(.9)
	transform: all .3s ease
	padding 20px
	overflow hidden
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
		height auto
.revs-slider-text
	.slick-list
		padding-top: 10px !important
.video-wrapper-revs-back
.text-rev-link
	position relative
	z-index 50
	&:before
		content: ''
		display block
		width 90%
		height 90%
		background-image linear-gradient(251.12deg, #3D36DB -7.53%, rgba(237, 141, 141, 0) 126.05%);;
		top 13%
		right 2%
		position absolute
.text-rev-link
		&:before
			width 90%
			height 90%
			top 9%
			right 2%
.revs-slider.slick-dotted.slick-slider
.revs-slider-text.slick-dotted.slick-slider
	width 100%
	max-width 1920px
	margin 0 auto 180px
	position relative
	z-index 50
	.slick-track
		padding-bottom: 20px
	.slick-center
		transform scale(1.08)
	.slick-arrow
		height 0
		width 0
		top auto
		bottom: -90px
	.slick-prev
	.slick-next
		&:before
			width 100%
			height 100%
			border-radius: 50px
			display block
			line-height: 46px
			background-color: mG
			text-align center
			color #fff
			font-size: 24px
			opacity 1
			transition: all .3s ease
			border: 1px solid #3D36DB;
			font-weight: normal
		&:hover
			&:before
				background-color: transparent
				color mG
		left 43%
	.slick-next
		left auto
		right 43%
.revs-slider-text.slick-dotted.slick-slider
	margin-bottom: 100px
.slick-dots
	left 0
	text-align left
	bottom: -90px
	li
		width 40px
		height 40px
		border-radius: 50px
		border: 2px solid #3D36DB;;
		transition: all .3s ease
		margin 0 10px
		overflow hidden
		button
			transition: all .3s ease
			width 100%
			height 100%
			background-color: transparent
			padding 0
			&:before
				content: none
		&.slick-active
			button
				background-color: #3D36DB;;
.text-rev-img
	position relative
	// z-index 30
	width 100%
	max-width 560px
	display block
	margin 0 auto
	background: #fff;
	border: 3px solid #3D36DB;;
	object-fit: cover
	object-position: center top
	height 705px
.text-rev-link
	padding 20px
.video-revs-arrows-1
.video-revs-arrows-2
	position absolute
	width 110px
	top 18px
	left 400px
	z-index 100
.video-revs-arrows-2
	left 300px
.slick-next, .slick-prev
	width 60px
	height 60px
.slick-next:before
.slick-prev:before
	color: #3D36DB
	font-size: 60px
	font-weight: normal
	transition: all .3s ease
	opacity 1
.slick-next:hover:before
.slick-prev:hover:before
	color: #7A75E3