#benefits
	padding 90px 0
	.container
		position relative
.general-img-benefits-1
.general-img-benefits-2
	bottom: -70px
	left -150px
	z-index 20
.general-img-benefits-2
	left auto
	right -150px
	transform: rotateY(180deg)
.benefits-title
	text-align center
	color #393939;
	font-size: 30px
	font-weight: bold
	margin-bottom: 50px
	small
		display block
		color: #656565;
		font-size: 24px
		font-weight: normal
.benefit
	position relative
	z-index 40
	text-align center
	&-img
		display block
		width 200px
		height 200px
		background-image url(../img/icons/benefits.png)
		background-repeat no-repeat
		margin 0 auto
		&-1
			background-position: 0 0
		&-2
			background-position: -200px 0
		&-3
			background-position: -400px 0
	&-title
		font-size: 24px
		font-weight: 500
		color: #484848
		margin: 0 0 10px
.button-wrapper-benefits
	margin-top: 70px