@media screen and (min-width 1900px)
	.can-blocks-titles
		left 5.7%
@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.can-blocks-titles
		left 0
	.general-list-1 li
	.module-list li
		font-size: 22px
	.insta-link
		bottom: -100px
		left 50px
@media screen and (max-width 1199px)
	.main-img img
		right -200px
	.can-blocks-titles
		left 11%
	.can-block-title
		margin-right: 20px
		font-size: 26px
	.author-img img
		right -200px
	.modules-buttons li
		font-size: 36px
	.module-list
		padding-left: 40px
	.module-list:before
	.module-list:after
		left 0
	.text-rev-img
		height 360px
@media screen and (max-width 991px)
	.main-img
		padding-top: 0
		img
			display block
			position: static
			margin 0 auto
			width 100%
			max-width 782px
	.helps-item
	.benefit
		width 100%
		max-width 380px
		margin  0 auto 70px
		&-img
			margin-bottom: 30px
	.benefit-img
		margin-bottom: 0
	.can-blocks
		margin-bottom: 40px
	.can-block-list li
	.can-block-list li:last-child
		margin-bottom: 30px
	.can-blocks-titles
		width 130%
	.get-img
		padding-top: 0
		img
			position: static
			display block
			width 100%
			max-width 833px
			margin 0 auto 30px
	.author-img
		padding-top: 0
		img
			position: static
			display block
			width 100%
			max-width 778px
			margin 0 auto 30px
	.insta-link
		bottom: 0
		left 0
		right 0
		margin 0 auto
		width 150px
		bottom: 100px
	.modules-buttons li:nth-child(2)
		margin 0 30px
	.prepayment
		margin-top: 50px
	.video-wrapper-revs-back-text
		width: 100%;
		max-width: 560px;
		margin: 0 auto 50px;
	.text-rev-img
		height 100px
	.text-rev-link:before
		height 90px
		width 84%
		top 40px
		right 10px
@media screen and (max-width 767px)
	#main
		text-align center
	.main-title
	.module-title
		font-size: 30px
	#helps
		padding 0
	#can
	#get
	#author
		padding 70px 0
	#plan
		padding 0 0 70px
	.module-list li
	.module-list li span
		display block
	.module-list li
		margin-bottom: 20px
	.revs-slider.slick-dotted.slick-slider
		margin-top: 70px
	.video-revs-arrows-1
		top auto
		bottom: -10px
		left 80px
	.video-revs-arrows-2
		left 80px
		bottom: 30px
		top auto
	.slick-dots
		bottom: -70px
		left 50px
	.slick-dots li
		width 20px
		height 20px
		margin 0 5px
	.revs-slider-text.slick-dotted.slick-slider
		.slick-dots
			bottom: -40px