@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	header
		margin-bottom: 180px
	.main-title
		font-size: 30px
	.main-subtitle
		font-size: 26px
@media screen and (max-width 1199px)
	#main
		background-position: top center, top left -90px, top right -90px
@media screen and (max-width 991px)
	#main
		background-position: top center, top left -150px, top right -150px
@media screen and (max-width 767px)
	header
		margin-bottom: 20px
	.header-logo
		display: block;
		float: none;
		margin: 0 auto 10px
	.contacts
		line-height: 1;
		text-align: center;
		float: none
		text-align center
		margin 0 auto
	.contact
		line-height: 1.2;
		margin: 0 5px;
		font-size: 14px
	#main
		background-image url(../img/images/video.png)
		background-repeat no-repeat
		background-position: center
		background-size 100% 100%
@media screen and (max-width 560px)
	header
		padding 10px 0
		margin-bottom: 10px
	.header-logo
		height 30px
		width auto
	#main
		padding 0 0 40px
	.main-title
		font-size: 22px
		span
			font-size: 22px
	.main-subtitle
		font-size: 20px
		margin 20px 0 30px
		line-height: 1.2
		span
			font-size: 22px
	.form-promo
		margin-top: 20px
	.checking .check-label
		line-height: 17px
	.button-thanks
		margin 20px auto 40px
	.button-bots, .button-form, .button-thanks
		font-size: 16px
	footer
		padding 15px 0
		h5
			font-size: 18px
			line-height: 1.2
	.soc-buttons a
		margin 10px 5px 5px
	footer p
		font-size: 12px
@media screen and (max-width 385px)
	header
		margin-bottom: 15px
	.contact
		display: block;
		margin-top: 5px;
		font-size: 12px
	#main
		padding 0 0 30px
	.main-title
		font-size: 18px
		span
			font-size: 20px
	.button-bots, .button-form, .button-thanks
		font-size: 14px
	.main-subtitle
		font-size: 18px
		span
			font-size: 20px
	.button
		min-width 1px