.modal
	display none
	cursor auto !important
	padding 20px
	background-color: #F8F8F8
	background-image url(../img/images/ellipse.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
	width 100%
	max-width 550px
.fancybox-slide--html .fancybox-close-small
	color #454545
	opacity 1
	transition: all .5s ease
	outline: 0
	&:hover
		transform: rotateY(180deg)
.form-modal
	margin 0 auto
.form-title
	text-align center
	font-size: 30px
	font-weight: 600
	margin-bottom: 30px