.modal
	display none
	cursor auto !important
	padding 20px
	background-color: #F8F8F8
	background-image url(../img/images/video.png),url(../img/images/video-1.png),url(../img/images/video-2.png)
	background-repeat no-repeat, no-repeat, no-repeat
	background-position: center, center left -70px, center right -70px
	background-size contain
	width 100%
	max-width 550px
.fancybox-slide--html .fancybox-close-small
	color #454545
	opacity 1
	transition: all .5s ease
	outline: 0
	&:hover
		transform: rotateY(180deg)
.form-modal
	margin 0 auto
	position relative
	z-index: 50
.modal-title
	text-align center
	font-size: 30px
	font-weight: 600
	margin-bottom: 30px
.input-mail-modal
	display block
	width 100%
	max-width 345px
	margin 0 auto 20px
