@media screen and (min-width 2560px)
	body
	.main-subtitle
	.main-text
		font-size: 20px
	.container
		width 1400px
	.insta-link-for
		bottom: -100px
		left 50px
	.insta-link-author
		bottom: 30px
		left 50px
@media screen and (max-width 1199px)
	.for-img img
		right -100px
	.insta-link-for
		bottom: -280px
	.author-img img
		right -200px
	.text-rev-img
		height 360px
	.text-rev-link:before
		height 160px
		top 35px
@media screen and (max-width 991px)
	.main-img
		padding-top: 0
		img
			display block
			position: static
			margin 0 auto
			width 100%
			max-width 769px
	.video-wrapper-back
		width 100%
		max-width 560px
		margin 0 auto 90px
	.video-wrapper-video::before
		top: 6.5%;
		right: -3.7%;
	.about-item
		margin-bottom: 40px
	.about-aftertitle
		margin-top: 50px
	#for
		padding 90px 0 0
	.day-title-img
		width 100%
		max-width 808px
		margin 0 auto
	.for-img
	.after-img
	.author-img
		padding-top: 0
		img
			position: static
			display block
			width 100%
			max-width 808px
			margin 0 auto 30px
	.insta-link
		bottom: 0
		left 0
		right 0
		margin 0 auto
		width 150px
	.insta-link-author
		bottom: 100px
	.day
		margin-bottom: 30px
	.general-list-2 li:last-child
		margin-bottom: 20px
	#after
		padding 0
	.video-wrapper-revs-back-text
		width: 100%;
		max-width: 560px;
		margin: 0 auto 50px;
	.text-rev-img
		height 100px
	.text-rev-link:before
		height 90px
		width 84%
		top 40px
		right 10px
	#last
		padding 90px 0
	.last-title
		font-size: 26px
		margin-bottom: 50px
@media screen and (max-width 767px)
	.main-info
	.general-text
	.general-title
	.button-wrapper
	.benefits-title
		text-align: center
	.about-item-img
		margin-bottom: 20px
	.benefits-title
		max-width none
	.day-title h4
		font-size: 30px
		line-height: 30px
	.input-mail-plan
		display block
		float: none
		margin 0 auto 10px
	.button-form-plan
		float none
		display block
		width 100%
		max-width 286px
		margin 0 auto
	.benefit
		padding 90px 0 0
		margin-bottom: 20px
		text-align center
		&:before
			top 0
			left 0
			right 0
			margin 0 auto
	.revs-slider.slick-dotted.slick-slider
		margin-top: 70px
	.video-revs-arrows-1
		top auto
		bottom: -10px
		left 80px
	.video-revs-arrows-2
		left 80px
		bottom: 30px
		top auto
	.slick-dots
		bottom: -70px
		left 50px
	.slick-dots li
		width 20px
		height 20px
		margin 0 5px
	.revs-slider-text.slick-dotted.slick-slider
		.slick-dots
			bottom: -40px
	.checking
		max-width 380px
	.checking .check-label
		line-height: 18px
@media screen and (max-width 560px)
	header
		margin-bottom: 10px
	.header-logo
		float: none
		display block
		margin 0 auto 3px
		width auto
		height 30px
	.contacts
		text-align center
		line-height: 1
		width 220px
		margin 0 auto
		float: none
	.contact
		font-size: 12px
	.main-title
	.modal-title
		font-size: 26px
	.general-title
	.days-title
	.author-title
		font-size: 26px
		margin-bottom: 30px
	.video-wrapper-back
		margin-bottom: 40px
	#video
		padding 0 0 60px
	.about-aftertitle
		font-size: 22px
		margin-top: 30px
	#for
		padding 60px 0 0
	.general-list-1 li
		margin-bottom: 15px
	#plan
		padding 60px 0
	.days
		padding 30px 20px
	.day-title
		background-image url(../img/images/plan.png)
		background-repeat no-repeat
		background-position: center
		background-size: 100% 100%
	.day-title-img
		display none
	.benefits-title
		font-size: 26px
	#benefits
		padding 0 0 90px
	.revs-slider-text.slick-dotted.slick-slider, .revs-slider.slick-dotted.slick-slider
		margin-bottom: 140px
	.revs-slider-text.slick-dotted.slick-slider
		margin-top: 70px
	.text-rev-img
		height 220px
	.text-rev-link:before
		height 200px
		width 80%
		top 55px
		right 45px
	.video-revs-arrows-2
		bottom: -10px
	.slick-dots
		width auto
		bottom: -50px
	.revs-slider-text.slick-dotted.slick-slider .slick-dots
		bottom: -60px
	#last
		padding 60px 0 90px
	.last-title
		font-size: 24px
	footer
		padding: 15px 0
		font-size: 12px
@media screen and (max-width 385px)
	.main-title
		font-size: 22px
		line-height: 1.1
	.main-subtitle
		margin 20px 0
	.main-date
		margin-bottom: 5px
		font-size: 19px
	.main-text
		font-size: 17px
		margin 20px 0
	.button
		min-width 1px
		line-height: 1.1
	#main
		padding 0 0 60px
	.main-author
		font-size: 20px
		margin-top: 20px
	.general-title
		font-size: 24px
		line-height: 1.1
	#video
		padding 0 0 40px
	.about-aftertitle
		margin-top: 20px
		font-size: 20px
	.general-list-1 li
		font-size: 18px
		margin-bottom: 10px
	.button-wrapper-for
		margin-top: 30px
	.modal-title
		font-size: 22px
		margin-bottom: 20px
	.modal
		background-image url("../img/images/video.png")
		background-repeat no-repeat
		background-position: center
		background-size: 100% 100%
	#plan
		padding 40px 0
	.days-title
		font-size: 24px
	.day-title h4
		font-size: 26px
	.days
		padding 20px 10px
	.general-list-2 li
		font-size: 18px
		margin-bottom: 20px
		padding-left: 59px
	.video-revs-arrows-1
	.video-revs-arrows-2
		left 40px
		width 90px
	.slick-dots
		left 0
		right 0
		margin 0 auto
		width 100%
		max-width 250px
		bottom: -50px
	.video-revs-arrows-2
		bottom -20px
	.insta-link-author
		bottom: 0
	.author-title
	.benefits-title
		font-size: 24px
	#author
	#last
		padding 60px 0
	.benefit-title
	.last-title
		font-size: 22px
		line-height: 1.2
	#benefits
		padding 0 0 60px
	.revs-slider.slick-dotted.slick-slider
		margin 60px 0 100px
	.text-rev-img
		height 100px
	.text-rev-link:before
		height 90px
		width 80%
		top 35px
		right 15px
	.revs-slider-text.slick-dotted.slick-slider
		margin-bottom: 60px
	.last-title
		margin-bottom: 30px