#video
	padding 0 0 90px
	.container
		position relative
.general-img-video
	top 0
	left -200px
	&-1
		top 0
		left -200px
	&-2
		top 0
		right -250px
.video-wrapper-back
	position relative
	padding-top 56.25%
	margin 0 auto
	width 90%
	&>img
		width 100%
		position absolute
		left 0
		right 0
		margin 0 auto
		top -90%
	// &-video
	// 	margin-top: 220px
.video-wrapper-video
	position absolute
	top 0
	left 0
	right 0
	bottom: 0
	&:before
		width 100%
		height 100%
		background-image linear-gradient(251.12deg, #FB4B4B -7.53%, rgba(237, 141, 141, 0) 126.05%)
		top 10%
		right -5%
		position absolute