#about
	.container
		position relative
.general-img-about
	position absolute
	display block
	width 100%
	max-width 1192px
	margin 0 auto
	top 0
	left 0
	right 0
.about-item
	width 100%
	max-width 380px
	margin 0 auto
	text-align center
	&-img
		display block
		width 100px
		height 101px
		margin 0 auto 40px
		background-image url(../img/icons/about.png)
		background-repeat no-repeat
		&-1
			background-position: 0 0
		&-2
			background-position: -100px 0
		&-3
			background-position: -200px 0
.about-aftertitle
	text-align center
	color: #393939;
	text-decoration: underline;
	font-size: 24px
	font-weight: 600
	margin-top: 90px