#for
	padding 180px 0 90px
.button-wrapper-for
	margin-top: 55px
.for-img
	position relative
	padding-top: 100%
	img
		position absolute
		top -220px
		right 0
		display block
		width auto
.insta-link
	position absolute
	color: #393939;
	font-weight: 600
	text-decoration underline
	padding-left: 31px
	background-image url(../img/icons/insta.png)
	background-repeat no-repeat
	background-position: left center
	&:active
		color #393939
		text-decoration underline
	&:hover
		color #393939
	&-for
		left 0
		bottom: -200px