#author
	padding 90px 0
.author-img
	position relative
	padding-top: 100%
	img
		display block
		position absolute
		width auto
		top -50px
		right -100px
.insta-link-author
	bottom: -210px
.author-title
	margin-bottom: 40px
	font-size: 30px
	font-weight: 500
	color: #FB4B4B;
	small
		display block
		font-size: 18px
		font-weight: bold
		color: #393939;