#benefits
	padding 0 0 110px
.benefits-title
	font-size: 30px
	font-weight: bold
	color: #393939;
	width 100%
	max-width 640px
	span
		display block
		font-weight: normal
		color: #656565;
		margin-bottom: 50px
.benefit
	padding-left: 100px
	position relative
	margin-bottom: 10px
	&:before
		content: ''
		display block
		position absolute
		top 0
		left 0
		width: 78px;
		height: 78px;
		background-image: linear-gradient(257.36deg, #FD8282 -14.17%, rgba(203, 90, 90, 0) 113.53%);
		font-size: 48px
		font-weight: bold
		color: #F3F3F3;
		line-height: 78px
		text-align center
		border-radius: 50px
	&-1
		&:before
			content: '1'
	&-2
		&:before
			content: '2'
	&-3
		&:before
			content: '3'
	&-title
		font-size: 24px
		font-weight: 500
		color: #484848;
		margin-bottom: 10px