header
	overflow hidden
	padding 15px 0
	margin-bottom: 40px
	position relative
	z-index 10
.header-logo
	float left
.contacts
	float: right
	text-align right
	width 276px
	display table
.contact
	line-height: 42px
	font-size: 16px
	color #000
	display table-cell
	&:focus
		text-decoration none
		color #000
	&:hover
		text-decoration underline
		color #000