section#main
	.container
		include ../base/1-header
		.row
			.col-md-8
				h1.main-title
					span Найдите ключ
					|  к решению ваших внутренних конфликтов с 
					span метафорическими ассоциативными картами
				h2.main-subtitle Запишитесь на 
					span мастер-класс
					|  и научитесь использовать простой и эффективный инструмент профессиональных психологов
				p.main-date Дата: 
					span 22.01.2021
				p.main-date Время: 
					span 21:30 (мск)
				p.main-text Регистрируйтесь сейчас и получите возможность стать участником индивидуальной сессии с помощью МАК от Жанны Абрамовой на мастер-классе
				+b('','button-up',href,'Участовать бесплатно')
				p.main-author Преподаватель: 
					span Жанна Абрамова
			.col-md-4
				.main-img
					img(src=path+"img/images/main.png" alt="Жанна Абрамова")