section#last
	.container
		h3.last-title Найдите ключ к решению ваших внутренних конфликтов с метафорическими ассоциативными картами
		+b('button-wrapper-center','button-up',href,'Участовать бесплатно')