section#video
	.container
		img.general-img.general-img-video(src=path+"img/images/video.png" alt="Декор блока")
		img.general-img.general-img-video-1(src=path+"img/images/video-1.png" alt="Декор блока 1")
		img.general-img.general-img-video-2(src=path+"img/images/video-2.png" alt="Декор блока 2")
		+gt('general-title-center','Видео-приглашение')
		.row
			.col-md-6
				.video-wrapper-back.video-wrapper-back-video
					//- img(src=path+"img/images/video.png" alt="Декор плеера")
					.video-wrapper.video-wrapper-video
						iframe(src="https://youtube.com/embed/"+video+"?modestbranding=1" allowfullscreen)
			.col-md-6
				p.general-text Хотите научиться быстро решать проблемы в 3-х главных сферах жизни – предназначение, отношения и финансы?
				p.general-text Регистрируйтесь на мой мастер-класс по метафорическим ассоциативным картам!
				p.general-text Вас ждут трансформационная атмосфера, мощная энергетика, прикладные знания и уникальные техники!
				p.general-text Хит мастер-класса – ежедневный разбор сложной жизненной ситуации одного из участников.
				p.general-text МАК дадут ответ на любой вопрос!