section#video
	.container
		img.general-img.general-img-video(src=path+"img/images/video.png" alt="Декор блока")
		img.general-img.general-img-video-1(src=path+"img/images/video-1.png" alt="Декор блока 1")
		img.general-img.general-img-video-2(src=path+"img/images/video-2.png" alt="Декор блока 2")
		+gt('general-title-center','Видео-приглашение')
		.row
			.col-md-6
				.video-wrapper-back.video-wrapper-back-video
					//- img(src=path+"img/images/video.png" alt="Декор плеера")
					.video-wrapper.video-wrapper-video
						iframe(src="https://youtube.com/embed/"+video+"?modestbranding=1" allowfullscreen)
			.col-md-6
				p.general-text Соображения высшего порядка, а также постоянное информационно-техническое обеспечение нашей деятельности обеспечивает широкому кругу специалистов участие в формировании системы обучения кадров, соответствующей насущным потребностям! Практический опыт показывает, что курс на социально-ориентированный национальный проект обеспечивает широкому кругу специалистов участие в формировании системы обучения кадров, соответствующей насущным потребностям. Не следует, однако, забывать о том, что реализация намеченного плана развития требует от нас анализа модели развития!