section#about
	.container
		img.general-img.general-img-about(src=path+"img/images/about.png" alt="Декор блока")
		+gt('general-title-center','О метафорических картах')
		.row
			.col-md-4
				.about-item
					.about-item-img.about-img-1
					p.general-text Психологи используют метафорические карты для диагностики и коррекции проблем клиента
			.col-md-4
				.about-item
					.about-item-img.about-img-2
					p.general-text Каждая карта - это визуальный стимул, вызывающий в сознание человека определенные реакции
			.col-md-4
				.about-item
					.about-item-img.about-img-3
					p.general-text Область применения охватывает основные сферы жизни человека: 
						span Предназначение, Отношения, Финансы 
		h4.about-aftertitle После мастер-класса вы научитесь пользоваться этим инструментом для психоанализа, помощи себе и близким, осознаете своё “Я” в новом для себя ключе