section#for
	.container
		.row
			.col-md-6.col-md-push-6
				+gt('','Этот мастер-класс для вас, если вам подходит, хотя бы один пункт:')
				ul.general-list.general-list-1
					li Испытываю сложности в отношениях
					li Не хватает сил, внутренних ресурсов
					li Хочу научиться бороться со страхами
					li Потерялась цель в жизни
					li Мы не находим общего языка с окружающими, близкими,  детьми
					li Я заедаю проблемы / перестаю есть из-за стресса
					li Моя профессия не приносит удовольствие
				+b('button-wrapper-for','button-up',href,'Участовать бесплатно')
			.col-md-6.col-md-pull-6
				.for-img
					img(src=path+"img/images/for.png" alt="Жанна Абрамова")
					a.insta-link(href="https://www.instagram.com/zhannaabramova/" target="_blank") @instagram