section#after
	.container
		.row
			.col-md-5.col-md-push-7
				.after-img
					img(src=path+"img/images/after.png" alt="Картинка блока")
			.col-md-7.col-md-pull-5
				+gt('','После мастер-класса вы сможете:')
				ul.general-list.general-list-1
					li Быстро и эффективно распознавать суть проблем своих и других людей
					li Освоить психотерапевтический метод для решения трудностей в различных сферах жизни
					li Получить доступ к своему бессознательному для разрешения внутренних противоречий
					li Понимать причины реакций и поведения человека на более глубоком уровне
					li Получить доступ к активации родовых ресурсов
					li Устранить боль и обиды, которые тянутся из прошлого и мешают построить счастливое будущее
					li Научиться проводить консультации и психологические сессии