section#author
	.container
		.row
			.col-md-6
				.author-img
					img(src=path+"img/images/janna.png" alt="Жанна Абрамова")
					a.insta-link.insta-link-author(href="https://www.instagram.com/zhannaabramova/" target="_blank") @instagram
			.col-md-6
				h4.author-title
					small О преподавателе:
					| Жанна Абрамова
				ul.general-list.general-list-1
					li
						span Более 15 лет практической работы с клиентами
					li Клинический психолог
					li Гештальт-терапевт
					li Процессор Новой германской медицины
					li Мастер практической психологии и технологий осознанности
					li Коуч, тренер обучающих и трансформационных программ
					li Процессор техник РПТ, НЛП, ДСТ, тетахилинга, субклеточной психобиологии
					li Мастер метафорических карт (МАК), системно-родовой терапии, технологии «Мгновенного исцеления» (метафизика клетки), регрессивного гипноза
					li Эксперт теле и радиошоу, информационных передач