section#benefits
	.container
		h3.benefits-title Обучение проходит на базе “Института современной психологии”
			small Преимущества института:
		.row
			.col-md-6
				.benefit.benefit-1
					h4.benefit-title Практическая направленность
					p.general-text 80% наших студентов консультируют уже после первого месяца обучения
			.col-md-6
				.benefit.benefit-2
					h4.benefit-title Современный подход к обучению
					p.general-text Обучаться можно из любой точки мира.Обучение проходит в видео-аудио формате.Онлайн занятия и методическая литературапозволяют эффективно получать знания
		.row
			.col-md-7
				.benefit.benefit-3
					h4.benefit-title Профессиональная поддержка студентов
					p.general-text Прямая связь с преподавателями на протяжении всего времени обучения