section#main
	.container
		include ../base/1-header
		.row
			.col-md-8
				.main-info
					h1.main-title
						span Станьте дипломированным психологом
						|  со знанием современных 
						span психотерапевтических инструментов
					h2.main-subtitle Комплексная программа 
						span профессиональной
						|  переподготовки начинающих и практикующих психологов по направлению 
						span метафорические карты
					p.main-date Дата: 
						span 02.02.2021
					p.main-date Время: 
						span 19:00 (мск)
					+b('button-wrapper-main','',href,'Записаться на курс')
					p.main-author Преподаватель: 
						span Жанна Абрамова
			.col-md-4
				.main-img
					img(src=path+"img/images/course-main.png" alt="Жанна Абрамова")