section#can
	.container
		+gt('','С курсом МАК вы сможете:')
	.can-blocks-titles
		h3.can-block-title Блок “Психотерапия”
			span
		h3.can-block-title Блок “Отношения”
			span
		h3.can-block-title Блок “Деньги”
			span
		h3.can-block-title Блок “Расстановки”
			span
	.container
		.can-blocks
			.can-block
				.row
					.col-md-6
						ul.can-block-list
							li Работать со своими запросами и запросами клиентов через методологию по системе МАК
							li Работать со своим самоощущением и корректировать самоценность клиента
							li Работать с созависимостью (алкоголизмом, перееданием, депрессией, суицидальными мыслями, ВСД и т.д.)
							li Работать с субличностями (теневыми частями личности)
					.col-md-6
						ul.can-block-list.can-block-list-2
							li Находить истинные причины неудач, проблем, препятствий и определять, каким образом можно их устранить
							li Работать с заболеваниями через психосоматический подход при помощи специальных ассоциативных карт
							li Находить прямую связь между психологическим состоянием клиента и болезнью
			.can-block
				.row
					.col-md-6
						ul.can-block-list
							li Узнать, как разобраться со своими личными отношениями и отношениями клиентов
							li Разобраться в тонкостях работы с запросами клиентов в сфере отношений
							li Найти способ разрешения конфликтных ситуаций с партнером
					.col-md-6
						ul.can-block-list.can-block-list-3
							li Выйти на новый осознанный уровень отношений и поможете перейти на него своим клиентам
							li Завершить на психоэмоциональном уровне старые связи и помочь в этом своим клиентам
			.can-block
				.row
					.col-md-6
						ul.can-block-list
							li Восстановить денежную энергию и начнете монетизировать свои навыки и умения
							li Познакомиться с личными уникальными наработками Жанны Абрамовой, полученными путем опыта и осознаний
							li Манифестировать в свою жизнь деньги, любовь, удачу
					.col-md-6
						ul.can-block-list.can-block-list-3
							li Понять, как должен работать профессионал, чтобы к нему выстроилась очередь из клиентов
							li Составить свою собственную МАК-колоду
			.can-block
				.row
					.col-md-6
						ul.can-block-list
							li Освоить авторские техники, связанные с расстановочным МАК-методом
							li Проводить сеансы системно-родовой терапии с помощью МАК и с использованием расстановочных фигурок
							li Выявлять через методику системно-родовой терапии ключевые задачи рода и проблемы, связанные с родовым наследием (кармой)
					.col-md-6
						ul.can-block-list.can-block-list-3
							li Работать с родовой динамикой для проработки проблемы клиента на глубоком уровне
							li Различать травмы текущей жизни человека от травм рода и прошлых воплощений
							li Освоить технику «Перерождение», с помощью которой можно «перепрограммировать» негативный сценарий жизни человека
		+b('','',href,'Записаться на курс')