section#get
	.container
		.row
			.col-md-5.col-md-push-7
				.get-img
					img(src=path+"img/images/get.png" alt="Картинка блока")
			.col-md-7.col-md-pull-5
				+gt('','Что даст вам этот курс:')
				ul.general-list.general-list-1
					li Вы освоите исключительно эффективную методологию МАК и системно-родовой терапии
					li Станете универсальным специалистом с профессиональным арсеналом из более чем 50 методик работы
					li Научитесь быстро, эффективно и экологично работать с запросами клиентов
					li Сможете начать свою психологическую практику уже во время обучения и монетизировать свои навыки по работе с клиентами
					li Выйдете на следующий уровень работы с клиентами и повысите свой доход
					li Проработаете во время обучения свои собственные запросы в различных сферах
					li Получите диплом государственного образца, подтверждающий ваше образование и профессиональные навыки