section#plan
	.container
		+gt('','План курса:')
		.modules
			ul.modules-buttons
				li Модуль 1
					span
				li Модуль 2
					span
				li Модуль 3
					span
			.modules-container
				.module-body
					h4.module-title Транзактный анализ
					ul.module-list.module-list-1
						li
							span Урок: 1 
							| Теория. Эго-состояния. Контаминации
						li
							span Урок: 2 
							| Транзакции. Поглаживания. Структурирование времени
						li
							span Урок: 3 
							| Психологические Игры. Треугольник Карпмана
						li
							span Урок: 4 
							| Система рэкетов. Рэкетные чувства. Вознаграждение
						li
							span Урок: 5 
							| Сценарный процесс. Формула сценария, виды
						li
							span Урок: 6 
							| Родительские приказания и предписания. Антисценарий
						li
							span Урок: 7 
							| Драйверы. Связь со сценарным процессом
						li
							span Урок: 8 
							| Игнорирование. Сценарий и реальность
						li
							span Урок: 9 
							| Мировосприятие, искажения, симбиоз
					h4.module-title МАК (метафорические ассоциативные карты). Принципы базовой работы МАК
					ul.module-list.module-list-2
						li
							span Урок: 1 
							| МАК. Основные принципы и правила работы с МАК
						li
							span Урок: 2 
							|  Ассоциации и проекции. Учимся работать с ассоциативным рядом восприятия клиентов
						li
							span Урок: 3 
							| Репрезентативные каналы восприятия. Учимся работать с разным спектром обработки информации. Развиваем эмпатию и кинестетическое восприятие информации
						li
							span Урок: 4 
							| Тени, субличности, расщепленные части личности. Работаем с самовосприятием (самоценностью, самооценкой)
						li
							span Урок: 5 
							| Саботаж. Учимся работать с саботажем клиента. Саботаж на действия. Лень, прокрастинация, апатия, отсутствие мотивации, низкий жизненный тонус
						li
							span Урок: 6 
							| Травмы клиентов. Учимся работать с определением (выявлением) травмы клиента на базовом уровне
						li
							span Урок: 7 
							| Детство. Учимся работать с внутренним ребенком клиента через МАК
						li
							span Урок: 8 
							| Цели. Учимся выявлять и ставить цели через МАК. Ищем слабые стороны клиента в вопросе целеполагания
						li
							span Урок: 9 
							| Отношения. Колоды, Расклады и базовые техники по отношениям. Работа с любовным треугольником и незавершенными отношениями
						li
							span Урок: 10 
							| Деньги. Колоды, Расклады и базовые техники по запросам с деньгами. Техники по работе с саботажем (препятствием) на деньги
						li
							span Урок: 11 
							| Здоровье. Базовые понятия метафизики. Работа с заболеваниями через выявление психосоматической причины заболевания
						li
							span Урок: 12 
							| Родовая система. Принципы влияния рода на человека. Эпигенетика или что мы наследуем от родовой системы
					p.module-text Пройдя этот модуль вы получите Сертификат о дополнительном образовании
					.row
						.col-md-5.col-md-offset-1
							p.cost Стоимость:
								span 25 000р.
							+b('button-wrapper-center','','https://iomp.autoweboffice.ru/?r=ordering/cart/as1&id=2&clean=true&lg=ru','Перейти к оплате','_blank')
						.col-md-5
							.prepayment
								h4.prepayment-title Акция!!!
								p.prepayment-text Платите 10 000р., бонусом получаете 
									span#prepayment-bonus 2 500р. 
									br
									| На счет зачисляется 
									span#prepayment-credited 12 500р.
								+b('button-wrapper-center','button-prepayment button-prepayment-1','https://iomp.autoweboffice.ru/?r=ordering/cart/as1&id=8&clean=true&lg=ru','Оплатить 10 000р.','_blank')
				.module-body
					h4.module-title Системно-родовая терапия с использованием МАК, фигурок, якорей
					ul.module-list.module-list-1
						li
							span Урок: 1 
							| Основные принципы системно-родовой терапии. Иерархия родовых структур
						li
							span Урок: 2 
							| Работа с родом через МАК-расстановки. Разбираем детально законы функционирование семейных систем
						li
							span Урок: 3 
							| Создание пары. Способы формирования пары, причины разводов и работа с парной несовместимостью
						li
							span Урок: 4 
							| Мужско-женские отношения. Выявление через МАК- расстановки сценария и повторяющегося шаблона в отношениях
						li
							span Урок: 5 
							| Исцеление родового сценария в отношениях. Женская судьба  рода или за кого мы допроживаем родовой сценарий в отношениях
						li
							span Урок: 6 
							| Созависимость в отношениях. Учимся работать с созависимостью
						li
							span Урок: 7 
							| МАК - генограмма. Делаем расклад функционирования семейной системой по законам рода
						li
							span Урок: 8 
							| Фразы и предложения по исцелению и закрытию родового искажения
						li
							span Урок: 9 
							| Работаем с блоком на деньги через родовую систему. Нейтрализация проблемы безденежья, кредитов, долгов, финансовых дыр
						li
							span Урок: 10 
							| Работа с запросами, связанными с бизнесом/любым финансовым делом
						li
							span Урок: 11 
							| Проекции, переплетения, парентификация, резонанс, замещение. Чью судьбу мы допроживаем. Работаем с родовой динамикой
						li
							span Урок: 12 
							| Завершение прошлых связей в родовых структурах. Поиск исключенных и отвергнутых
						li
							span Урок: 13 
							| Выявляем при помощи МАК свой путь и предназначение. Договариваемся с родом о закрытие родовых отработок
						li
							span Урок: 14 
							| Методология «Сила рода». Работаем с первопричиной зарождения проблемы в родовых структурах
						li
							span Урок: 15 
							| Формирование желаемой судьбы при помощи МАК
					h4.module-title Работа с психотравмами с использованием МАК. НЛП – нейролингвистическое перепрограммирование деструктивных сценариев с использованием МАК
					ul.module-list.module-list-2
						li
							span Урок: 1-2 
							| Разводы. Синдром одиночества. Брошенность. Работа с травмой разрыва отношений
						li
							span Урок: 3-4 
							|  Травма насилия. Работа с психологическим/физическим насилием

						li
							span Урок: 5-6 
							| Страхи/ фобии. Выявление первопричин. Работа со страхами
						li
							span Урок: 7 
							| Аборты. Выкидыши. Ранняя детская смертность. Работа с психодрамой
						li
							span Урок: 8-9 
							| ЭКО-дети. Подготовка родителей перед экстрокорпоральному оплодотворению
						li
							span Урок: 10 
							| Нарушение иерархии в системе. Смена фамилии. Отказ от детей. Усыновление/удочерение. Кому принадлежат дети
						li
							span Урок: 11 
							| Детство. Работа с родовыми задачами через МАК
						li
							span Урок: 12-18 
							| НЛП (нейро-лингвистическое программирование). Работа с перепрограммированием психотравм при помощи техник НЛП
					p.module-text Пройдя этот модуль вы получите Сертификат о дополнительном образовании
					.row
						.col-md-5.col-md-offset-1
							p.cost Стоимость:
								span 65 000р.
							+b('button-wrapper-center','','https://iomp.autoweboffice.ru/?r=ordering/cart/as1&id=4&clean=true&lg=ru','Перейти к оплате','_blank')
						.col-md-5
							.prepayment
								h4.prepayment-title Акция!!!
								p.prepayment-text Платите 10 000р., бонусом получаете 
									span#prepayment-bonus 5 000р. 
									br
									| На счет зачисляется 
									span#prepayment-credited 15 000р.
								+b('button-wrapper-center','button-prepayment button-prepayment-2','https://iomp.autoweboffice.ru/?r=ordering/cart/as1&id=9&clean=true&lg=ru','Оплатить 10 000р.','_blank')
				.module-body
					h4.module-title Метафизика. Работа с заболеваниями с использованием МАК, фигурок, якорей
					ul.module-list.module-list-1
						li
							span Урок: 1 
							| Метафизика заболеваний
						li
							span Урок: 2-3 
							| Новая Германская медицина. Законы, по которым формируются заболевания
						li
							span Урок: 4-5 
							| Идентичность (самоощущение) - принцип искаженного восприятия себя. Работа с кривой идентичностью
						li
							span Урок: 6-7 
							| Вторичные выгоды заболеваний. Работа со вторичными выгодами
						li
							span Урок: 8-9 
							| Система конденсированного опыта травмы. Работаем с первопричинами травмы
						li
							span Урок: 10-11 
							| Система отправной точки формирования психосоматических заболеваний. Работа с психо-эмоциональным эквивалентом травмы
						li
							span Урок: 12-16 
							| Технология работы с психосоматикой
						li
							span Урок: 17-19 
							| Работа с травмой предков. Исцеление родовой системы (гена здоровья)
						li
							span Урок: 20 
							| Поиск ресурсов по системе МАК-Метафизика
						li
							span Урок: 21 
							| Формирование нового сценария жизни. Манифестация здоровья, изобилия, иных благ и ресурсов
					ul.module-list.module-list-2
						li
							span Супервизия с кураторами
						li
							span Практикумы с тренером
						li
							span Групповые сессии по теме травм. Сессии исцеления для групп
						li
							span Групповая арт-терапия
					p.module-text Пройдя этот модуль вы получите Диплом о профессиональной переподготовке
					.row
						.col-md-5.col-md-offset-1
							p.cost Стоимость:
								span 121 500р.
							+b('button-wrapper-center','','https://iomp.autoweboffice.ru/?r=ordering/cart/as1&id=6&clean=true&lg=ru','Перейти к оплате','_blank')
						.col-md-5
							.prepayment
								h4.prepayment-title Акция!!!
								p.prepayment-text Платите 10 000р., бонусом получаете 
									span#prepayment-bonus 10 000р. 
									br
									| На счет зачисляется 
									span#prepayment-credited 20 000р.
								+b('button-wrapper-center','button-prepayment button-prepayment-3','https://iomp.autoweboffice.ru/?r=ordering/cart/as1&id=10&clean=true&lg=ru','Оплатить 10 000р.','_blank')